[submodule "thirdparty/UGUI"]
	path = thirdparty/UGUI
	url = https://github.com/achimdoebler/UGUI.git
[submodule "thirdparty/stb"]
	path = thirdparty/stb
	url = https://github.com/nothings/stb.git
[submodule "thirdparty/SmartResponseXE"]
	path = thirdparty/SmartResponseXE
	url = https://github.com/Petezah/SmartResponseXE.git
[submodule "thirdparty/tlsf"]
	path = thirdparty/tlsf
	url = https://github.com/mattconte/tlsf.git
